.contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:flex-start;
}
h1{
    margin-right: auto;
    margin-left: auto;
}
.noSearch{

    font-size: small;
    color: red;
}